* {
    box-sizing: border-box;
}
body {
    font-family: $base-font;
    color: #000;
    background: #6eaab9;
    position: relative;
}
a {
    font-size: $Size-a;
    text-decoration: none;
    color: #000000;
}
h1 {
    font-size: $Size-h1;
    font-family: $base-font-h1;
}
h2 {
    font-size: $Size-h2;
}
p {
    font-size: $Size-p;
}
header, section, footer {
    margin: 0 5px 0 5px;
    background: #fff;
}
.container-xl, .container-l, .container-m {
    margin: 0 auto;
}